.container-pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    border: 1px solid;
  }
  
  .h2pro {
    margin-bottom: 20px;
  }
  
  .labelpro {
    display: block;
    margin-bottom: 10px;
  }
  
  .selectpro {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .btpro {
    padding: 10px 20px;
    background-color: midnightblue;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .btpro:hover {
    background-color: lightskyblue;
  }
  